---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';


const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const articlePosts = posts.filter(post => post.data.type === 'article');
const projectPosts = posts.filter(post => post.data.type === 'project');

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="max-w-prose m-auto px-4 font-mono">
		<Header />
		<main>
			<section class="p-4 max-w-2xl mx-auto my-8">
				<div class="flex flex-col items-center sm:flex-row gap-8 mb-8"> 
					<img src="/profile.JPG" alt="Zaggonaut" class="rounded-full w-40 h-40 mb-4 z-0 object-cover">
					<div> 
						<h1 class="text-3xl sm:text-4xl font-display font-semibold opsz text-center sm:text-left"> Hey, </h1> 
						<h2 class="text-center text-xl sm:text-2xl font-mono font-medium sm:text-left"> <p>I'm Marc!</h2> 
					</div> 
				</div>
			<section>
			<section>
				<div class="flex justify-between items-center">
					<h1 class="font-display text-lg sm:text-2xl leading-loose font-bold">Projects</h1>
					<a href="/projects/" class="text-black text-sm sm:text-base">View all →</a>
				  </div>
				<ul>
					{
						projectPosts.slice(0, 3).map((post) => (
							<li class="mb-8">
								<a href={`/${post.id}/`}>
									<h2 class="font-display text-lg sm:text-l leading-loose underline">{post.data.title}</h4>
								</a>
								<p class="text-gray-700">{post.data.description}</p>
								<div class="mt-2 flex flex-wrap gap-2">
								{post.data.tags.map(tag => (
									<span class="px-1 py-0.5 text-sm font-semibold bg-blue-300 text-white rounded">{tag}</span>
								))}
								</div>
							</li>
						))
					}
				</ul>
				<div class="flex justify-between items-center">
					<h1 class="font-display text-lg sm:text-2xl leading-loose font-bold">Articles</h1>
					<a href="/articles/" class="text-black text-sm sm:text-base">View all →</a>
				  </div>
				<ul>
					{
					  articlePosts.slice(0, 3).map((post) => (
						<li class="mb-8">
						  <a href={`/${post.id}/`}>
							<h2 class="font-display text-lg sm:text-l leading-loose underline">{post.data.title}</h2>
						  </a>
						  <p class="text-gray-70">{post.data.description}</p>
							<p class="text-gray-500 text-sm">{new Date(post.data.pubDate).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</p>
						</li>
					  ))
					}
				  </ul>
			</section>
		</main>
		<Footer />
	</body>
</html>

